/* Importing the Inter font with specified weights */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');

body {
  font-family: 'Inter', sans-serif;
  background-color: var(--bg-color, #ffffff);
  color: var(--text-color, #333333); /* Default text color */
  margin: 0;
  padding: 0;
}

/* Main Container */
.container {
  width: 90%;
  max-width: 600px;
  margin: auto;
  padding: 20px;
}

/* Header with Logo and Title */
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 10px;
  margin-bottom: 20px;
}

.web3auth-logo {
  width: 150px;
  height: auto;
}

.title {
  font-size: 1.8rem;
  font-weight: 700;
  color: var(--text-color);
  margin: 0;
}

.description {
  font-size: 1rem;
  font-weight: 400;
  margin: 10px 0;
  text-align: center;
  color: var(--text-color);
}

/* How It Works Section */
.how-it-works {
  margin: 20px 0;
  text-align: center;
  color: var(--text-color);
}

.how-it-works h3 {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--text-color);
}

.how-it-works ul {
  list-style-type: none;
  padding: 0;
  font-weight: 400;
}

.how-it-works li {
  margin: 5px 0;
  color: var(--text-color);
}

/* Info Boxes for User and TON Account */
.user-info-box, .info-box {
  padding: 15px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
  color: var(--text-color);
}

.info-box:hover {
  background-color: #eef;
}

/* Avatar and Telegram Logo */
.user-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.id-with-logo {
  display: flex;
  align-items: center;
  gap: 4px;
  max-width: fit-content;
  margin: 0 auto;
  color: var(--text-color);
}

.telegram-logo {
  width: 20px;
  height: 20px;
}

/* Ellipsis for Long Text */
.ellipsed-text {
  display: inline-block;
  max-width: 80%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
  color: var(--text-color);
}

/* Footer Button */
.footer {
  display: flex;
  justify-content: center;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  margin-top: 30px;
  color: var(--text-color);
}

.learn-more-button {
  padding: 10px 20px;
  font-weight: 600;
  text-align: center;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.light-mode {
  background-color: #0063F5;
  color: #ffffff;
}

.dark-mode {
  background-color: #ffffff;
  color: #000000;
  border: 1px solid #000000;
}

/* Responsive Design */
@media (max-width: 768px) {
  .container {
    width: 90%;
  }

  .title {
    font-size: 1.5rem;
  }

  .web3auth-logo {
    width: 150px;
    max-width: 100%;
    height: auto;
    margin-bottom: 8px;
  }
}
