<div class="content">
  <h1 class="title">
    <a target="_blank" href="https://web3auth.io/docs/sdk/core-kit/mpc-core-kit/">Web3Auth  MPC Core Kit</a> Angular
    Quick Start
  </h1>
  <div class="setting">
    <div
      *ngIf="coreKitStatus === 'LOGGED_IN'; else elseBlock"
      class="card-container"
    >
      <button class="card card-small" (click)="getUserInfo()">
        Get User Info
      </button>
      <button (click)="keyDetails()" class='card card-small'>
        Key Details
      </button>
      <button (click)="enableMFA()" class='card card-small'>
        Enable MFA
      </button>
      <button class="card card-small" (click)="getAccounts()">
        Get Accounts
      </button>
      <button class="card card-small" (click)="setTSSWalletIndex(1)">
        Switch to wallet index: 1
      </button>
      <button class="card card-small" (click)="setTSSWalletIndex(2)">
        Switch to wallet index: 2
      </button>
      <button class="card card-small" (click)="setTSSWalletIndex(0)">
        Switch to wallet index: 0/default
      </button>
      <button class="card card-small" (click)="getBalance()">
        Get Balance
      </button>
      <button class="card card-small" (click)="signMessage()">
        Sign Message
      </button>
      <button class="card card-small" (click)="sendTransaction()">
        Send Transaction
      </button>
      <button class="card card-small" (click)="logout()">Log Out</button>
      <button (click)="criticalResetAccount()" class="card card-small">
        [CRITICAL] Reset Account
      </button>
      <button (click)="exportMnemonicFactor()" class='card card-small'>
        Generate Backup (Mnemonic)
      </button>
    </div>
    <ng-template #elseBlock>
      <div class="card-container">
        <button class="card card-small" (click)="login()">Login</button>
        <div class="card-container" *ngIf="coreKitStatus === 'REQUIRED_SHARE'" >
          <button (click)="getDeviceFactor()" class="card card-small">
            Get Device Factor
          </button>
          <label>Backup/ Device Factor:</label>
          <input name="backupFactorKeyInputField" [(ngModel)]="backupFactorKey" (ngModelChange)="getBackupFactorKeyInputEvent($event)" />
          <button (click)="inputBackupFactorKey()" class="card card-small">
            Input Backup Factor Key
          </button>
          <button (click)="criticalResetAccount()" class="card card-small">
            [CRITICAL] Reset Account
          </button>
          <label>Recover Using Mnemonic Factor Key:</label>
            <input name="MnemonicFactorInputField" [(ngModel)]="mnemonicFactor" (ngModelChange)="getMnemonicFactorInputEvent($event)" />
            <button (click)="MnemonicToFactorKeyHex(mnemonicFactor)" class="card card-small">
              Get Recovery Factor Key using Mnemonic
            </button>
          </div>
      </div>
    </ng-template>
    <div class="console" id="console-ui">
      <p class="code">Logged In</p>
    </div>
  </div>
  <footer class="footer">
    <a
      href="https://github.com/Web3Auth/web3auth-core-kit-examples/tree/main/mpc-core-kit-web/quick-starts/mpc-core-kit-angular-quick-start"
      target="_blank"
      rel="noopener noreferrer"
    >
      Source code
    </a>
  </footer>
</div>
